<html>
    <head>
        <meta charset="utf-8">
        <title>go range 迭代数据</title>
    </head>
    <body>
        <ul>
            {{ range . }}
                    <li>当前数据是:{{ . }}</li>
            {{ else }}
                    <li>no data</li>
            {{ end }}
        </ul>
        <p>range key ----value
         <ul>
            {{ range $key,$val := . }}
                <li>当前key是{{ $key }}当前值是{{ $val }}</li>
            {{ else }}
                    <li>no data</li>
            {{ end }}
        </ul>
    </body>
</html>
